@model ElectronicShop_v0._4.Models.Products

@{
    ViewBag.Title = "ProductAmount";
}

<h2>Product Amount</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Products</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           Enter amount
            <div class="col-md-10">
                @Html.EditorFor(model => model.additionalAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additionalAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Product List", "ProductList", "ProductList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
